{% layout "server/layouts/base.liquid" %}

{% block content %}
<body id="" style="background-image: url('{{ randomBackgroundImage }}'); background-position: center; background-size:100vw; background-repeat= no-repeat;">
  <canvas id="footballRain"></canvas>
<main>
  <section>
   <div class="titel" style="background-color: {{ backgroundColour1 }};"> 
    {% comment %} <img src="{{ team.strBadge }}" view-transition-name="{{ team.strTeam | replace: " ", "-" }}"> {% endcomment %}
    <img src="{{ team.strBadge }}" view-transition-name="PSV-Eindhoven">
    <h2><strong>{{ team.strTeam }}</strong></h2>  
   </div>

   <label style="background-color: {{ backgroundColour2 }};">Volgende wedstrijden</label>
   <div class="resultDisplay">    
    <img src="{{nextGame.strHomeTeamBadge}}">
      <ul class="opkomendeWedstrijden" >
        <li> {{ nextGame.strHomeTeam }} vs {{ nextGame.strAwayTeam }} </li>
        <li> {{nextGame.strTime}}  {{nextGame.dateEvent}} </li>
        <li><img src="{{nextGame.strLeagueBadge}}" id="leagueBadge">
      </ul>
      <img src="{{nextGame.strAwayTeamBadge}}">
  </div>


   <label style="background-color: {{ backgroundColour2 }};">Vorige resultaten</label>
   {% for game in lastFiveGames %}
   <div class="resultDisplay" style="background-color: 
   {% if game.isWin %}rgb(51, 204, 51, 0.7) 
   {% elsif game.isDraw %} rgb(140, 140, 140, 0.8); 
   {% else %}rgb(255, 51, 0, 0.7)
   {% endif %};">
      <img src="{{game.strHomeTeamBadge}}">
      <ul class="opkomendeWedstrijden">
        <li> {{ game.strHomeTeam }} vs {{ game.strAwayTeam }} </li>
        <li> {{game.intHomeScore}} - {{game.intAwayScore}} </li>
        <li><img src="{{game.strLeagueBadge}}" id="leagueBadge"></li>
      </ul>
      <img src="{{game.strAwayTeamBadge}}">
        
  </div>

  
{% endfor %}

<label class="statLabel" style="background-color: {{ backgroundColour2 }};">Stats laatste 5 wedstrijden</label>
<div id="statsLaatsteFive">
    <ul id="statsList">
      <li class="stats"> Aantal gescoorde doelpunten: </li>
      <li class="stats"> Aantal doelpunten tegen:  </li>
      <li class="stats"> Gewonnen:  </li>
      <li class="stats"> Gelijkspel:  </li>
      <li class="stats"> Verloren:  </li>
    </ul>

    <ul id="statsList">
      <li class="stats"> {{ gescoordeGoals }}</li>
      <li class="stats"> {{ gescoordeTegenGoals  }}</li>
      <li class="stats"> {{ gewonnenGames }} </li>
      <li class="stats">{{ gelijkSpelGames }} </li>
      <li class="stats"> {{ verlorenGames }} </li>
    </ul>

    <ol class="leagueStanding">
      {% for team in leagueStandingData.teams %}
      <li> {{ team.strTeam }} </li>
      {% endfor %}
    </ol>
    
  </div>
  </section>
 
</main>
</body>
{% endblock %}
