{% layout "server/layouts/base.liquid" %}

{% block content %}
<body id="" style="background-image: url('{{ randomBackgroundImage }}'); background-position: center; background-size:100vw; box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3)";>
  {% comment %} Idee van Mike overgenomen om bij herladen van de pagina steeds een nieuwe achtergrond te laten zien, met randomBackgroundImage {% endcomment %}
  <canvas id="footballRain"></canvas>
<main>
  <section>
   <div class="titel" style="background-color: {{ backgroundColour1 }};"> 
    {% comment %} <img src="{{ team.strBadge }}" view-transition-name="{{ team.strTeam | replace: " ", "-" }}"> {% endcomment %}
    <img src="{{ team.strBadge }}" class="teamBadge" id="detailBadge">
    <h2><strong>{{ team.strTeam }}</strong></h2>  
   </div>

   <label style="background-color: {{ backgroundColour2 }};">Volgende wedstrijden</label>
   <div class="resultDisplay">    
    <img src="{{nextGame.strHomeTeamBadge}}">
      <ul class="opkomendeWedstrijden" >
        <li> {{ nextGame.strHomeTeam }} vs {{ nextGame.strAwayTeam }} </li>
        <li> {{nextGame.strTime}}  {{nextGame.dateEvent}} </li>
        <li><img src="{{nextGame.strLeagueBadge}}" id="leagueBadge">
      </ul>
      <img src="{{nextGame.strAwayTeamBadge}}">
  </div>


   <label style="background-color: {{ backgroundColour2 }};">Vorige resultaten</label>
   {% for game in lastFiveGames %}
   <div class="resultDisplay" style="background-color: 
   {% if game.isWin %}rgb(51, 204, 51, 0.7) 
   {% elsif game.isDraw %} rgb(140, 140, 140, 0.8); 
   {% else %}rgb(255, 51, 0, 0.7)
   {% endif %};">
      <img src="{{game.strHomeTeamBadge}}">
      <ul class="opkomendeWedstrijden">
        <li> {{ game.strHomeTeam }} vs {{ game.strAwayTeam }} </li>
        <li> {{game.intHomeScore}} - {{game.intAwayScore}} </li>
        <li><img src="{{game.strLeagueBadge}}" id="leagueBadge"></li>
      </ul>
      <img src="{{game.strAwayTeamBadge}}">
        
  </div>

  
{% endfor %}

<label class="statLabel" style="background-color: {{ backgroundColour2 }};">Stats laatste 5 wedstrijden</label>
<div class="statsLaatsteFive">
    <ul class="leagueStanding">
      <li class="stats"> Statistieken laatste vijf wedstrijden </li>
      <li class="stats"> Aantal gescoorde doelpunten: </li>
      <li class="stats"> Aantal doelpunten tegen:  </li>
      <li class="stats"> Gewonnen:  </li>
      <li class="stats"> Gelijkspel:  </li>
      <li class="stats"> Verloren:  </li>
    </ul>

    <ul id="statsList">
      <li class="stats" style="visibility: hidden;">#</li>
      <li class="stats" id="scored"> {{ gescoordeGoals }}</li>
      <li class="stats"> {{ gescoordeTegenGoals  }}</li>
      <li class="stats"> {{ gewonnenGames }} </li>
      <li class="stats">{{ gelijkSpelGames }} </li>
      <li class="stats"> {{ verlorenGames }} </li>
    </ul>
  </div>


  <label class="statLabel" style="background-color: {{ backgroundColour2 }};"> {{ team.strLeagueBadge }} {{team.strLeague}} </label>  
  <div class="statsLaatsteFive">
    <ol class="leagueStanding">
  <li class="stats"> Competitie stand </li>
  {% for table in leagueStandingsData.table %}
    <li class="stand" 
        style="background-color: {% if table.isCurrentTeam %}rgb(51, 204, 51, 0.7){% else %}transparent{% endif %}; 
               font-weight: {% if table.isCurrentTeam %}bold{% else %}normal{% endif %};">
      {{ table.intRank }}. {{ table.strTeam }}
    </li>
  {% endfor %}
</ol>

    <ol class="leagueStanding">
      <li class="stats">Punten</li>
      {% for table in leagueStandingsData.table %}
      <li class="stand"> - {{ table.intPoints }} </li>
      {% endfor %}
    </ol>
  </div>
  </section>
 
</main>
</body>
{% endblock %}
