{% layout "server/layouts/base.liquid" %}

{% block content %}

<main>
<section>

<label class="teamListLabel">Wedstrijden van vandaag</label>
{% for events in matchesData %}
   <div class="resultDisplay">    
    <img src="{{events.strHomeTeamBadge}}">
      <ul class="opkomendeWedstrijden" >
        <li> {{ events.strHomeTeam }} vs {{ events.strAwayTeam }} </li>
        <li> {{events.strTime}}</li>
        <li><img src="{{events.strLeagueBadge}}" id="leagueBadge">
      </ul>
      <img src="{{events.strAwayTeamBadge}}">
  </div>
{% endfor %}


<h2>{{ title }}</h2>
<div>
 <label id="leagueTarget" class="teamListLabel">Eredivisie</label>
<ul class="teamList">
  {% for team in eredivisieData.teams %}
    <li class="teams">
      <a class="clubs" href="/team/{{ team.strTeam | replace: " ", "_" }}" onclick="navigateWithTransition(event)">
       <img src="{{ team.strBadge }}" view-transition-name="{{ team.strTeam | replace: " ", "-" }}">
      </a>
    </li>
  {% endfor %}
</ul>
</div>

<div>

<label class="teamListLabel">Premier League</label>
<ul class="teamList">
  {% for team in BplData.teams %}
    <li>
      <a href="/team/{{ team.strTeam | replace: " ", "_"   }}">
      <img src="{{ team.strBadge }}">
      </a>
    </li>
  {% endfor %}
</ul>
</div>

<div>
<label class="teamListLabel">Champions League</label>
<ul class="teamList">
  {% for team in ChampionsLeagueData.teams %}
    <li>
      <a href="/team/{{ team.strTeam | replace: " ", "_"   }}">
      <img src="{{ team.strBadge }}">
      </a>
    </li>
  {% endfor %}
</ul>
</div>

<div>

 <label class="teamListLabel">Europa League</label> 
<ul class="teamList">
  {% for team in EuropaLeagueData.teams %}
    <li>
      <a href="/team/{{ team.strTeam | replace: " ", "_"   }}">
      <img src="{{ team.strBadge }}">
      </a>
    </li>
  {% endfor %}
</ul>
</div>
</section>
</main>
{% endblock %}
